---
import { Image } from "astro:assets";
import watermelonImg from "../images/watermelon.png";
import peachImg from "../images/peach.png";
import orangeImg from "../images/orange.png";
import ananasImg from "../images/ananas.png";
import berriesImg from "../images/berries.png";
import figImg from "../images/fig.png";
---

<section class="process">
  <div class="container">
    <div class="process__wrapper">
      <h2 class="process__title">
        La consultation diététique ? Oui, mais comment ça se passe ?
      </h2>
      <ul class="process__list">
        <li class="process__item">
          <Image
            class="process__img"
            src={watermelonImg}
            alt="Icone d'un fruit"
            width={50}
            height={50}
          />
          <p class="process__text">
            Une fois le rendez-vous fixé par téléphone à la date et à l’heure de
            votre choix, il ne vous reste plus qu’à venir à ma rencontre avec
            votre plus beau sourire.
          </p>
          <li class="process__item">
            <Image
              class="process__img"
              src={peachImg}
              alt="Icone d'un fruit"
              width={50}
              height={50}
            />
            <p class="process__text">
              La première consultation est un moment d’échange essentiel pour
              mieux comprendre vos habitudes alimentaires, votre mode de vie et
              vos attentes. Ensemble, nous fixerons des objectifs adaptés et
              réalisables, tout en veillant à préserver le plaisir de manger.
              Mon approche repose sur l’équilibre et la bienveillance, sans
              interdits ni restrictions inutiles, afin de vous accompagner vers
              une alimentation qui vous convient et qui contribue à votre
              bien-être.
            </p>
          </li>
          <li class="process__item">
            <Image
              class="process__img"
              src={orangeImg}
              alt="Icone d'un fruit"
              width={50}
              height={50}
            />
            <p class="process__text">
              La première consultation dure environ une heure, tandis que les
              consultations de suivi sont plus courtes, d’environ 30 minutes. Ce
              premier échange me permet d’établir un bilan complet en prenant en
              compte votre état de santé, vos habitudes alimentaires et votre
              mode de vie. Ensemble, nous identifierons les ajustements
              possibles pour vous aider à atteindre vos objectifs de manière
              durable et adaptée à vos besoins.
            </p>
          </li>
          <li class="process__item">
            <Image
              class="process__img"
              src={ananasImg}
              alt="Icone d'un fruit"
              width={50}
              height={50}
            />
            <p class="process__text">
              Je prendrai en compte l’ensemble de vos antécédents médicaux et
              éventuelles pathologies (allergies, cholestérol, diabète,
              endométriose, troubles thyroïdiens, insuffisance rénale,
              ostéoporose…) afin de vous proposer des conseils personnalisés et
              parfaitement adaptés à votre situation. Mon objectif est de vous
              accompagner vers une alimentation équilibrée, en adéquation avec
              vos besoins spécifiques et votre bien-être.
            </p>
          </li>
          <li class="process__item">
            <Image
              class="process__img"
              src={berriesImg}
              alt="Icone d'un fruit"
              width={50}
              height={50}
            />
            <p class="process__text">
              Le plan alimentaire sera adapté à votre mode de vie, vos horaires,
              votre travail et vos déplacements, pour qu’il soit pratique et
              facile à suivre au quotidien.
            </p>
          </li>
          <li class="process__item">
            <Image
              class="process__img"
              src={figImg}
              alt="Icone d'un fruit"
              width={50}
              height={50}
            />
            <p class="process__text">
              Enfin, le plan alimentaire sera adapté à votre régime (omnivore,
              végétarien, végétalien, pesco-végétarien, sans lactose, sans
              gluten, etc.), en respectant vos convictions et vos intolérances
              alimentaires.
            </p>
          </li>
        </li>
      </ul>
    </div>
  </div>
</section>
